@import url(../../styles/index.less);

.home {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      max-width: 450px;
      width: 100%;
    }
  }
}
