@import url(../../styles/index.less);

.header {
  padding: 32px 10px;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 37px;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 35px;
  }

  &__item {
    font-size: 12px;
    color: @blue;
  }
}
