@import url(fonts.less);

@font-family: 'Abel', sans-serif;
@second-family: 'Roboto', sans-serif;
@third-family: 'Abel Pro', sans-serif;

@white: #ffffff;
@black: #000000;
@gray: #c6c6c6;
@red: #ff0000;
@placeholder: #717171;
@blue: #0085cf;
