@import url(../../styles/index.less);

.footer {
  padding: 32px 10px;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 37px;
  }

  &__copy {
    font-size: 10px;
    text-align: center;
    color: #676767;
  }
}
